title {
  font-family: Arial;
}

header {
  font-family: Arial;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   text-align: center;
}
